<div class="performance-summary">

    <h3>
        {{ result.performance.period }} Performance
    </h3>

    <table
        border="1"
        cellpadding="10"
        cellspacing="0"
        style="text-align:center;"
    >

        <tr>
            <th>CAGR</th>
            <th>Max EOD DD</th>
            <th>Ulcer Index</th>
        </tr>

        <tr>

            <td>
                {{ "%.2f"|format(result.performance.cagr * 100) }}%
            </td>

            <td>
                {{ "%.2f"|format(result.performance.max_eod_drawdown * 100) }}%
            </td>

            <td>
                {{ "%.2f"|format(result.performance.ulcer_index) }}
            </td>

        </tr>

    </table>

</div>